<link rel="stylesheet" href="../static/css/style.css" />
<link rel="stylesheet" href="../static/css/registration.css">
{% macro paragraph(content) %}
<p class="about-paragraph">{{ content }}</p>
{% endmacro %}

{% macro heading(content, link='/', btn_content='Go Back') %}
<div class="back-btn">
  <a href="{{ link }}"><img src="../static/images/back.png" alt="" />{{ btn_content }}</a>
</div>
<p class="about-title">{{ content }}</p>
{% endmacro %}

{% macro date_card(date, schedules) %}
<div class="date-card">
  <div class="date">
    <div class="date-icon">
      <img src="../static/images/date.svg" alt="Date" />
    </div>
    <p>{{ date }}</p>
  </div>
  {% for schedule in schedules %}
  <div class="date-schedule">
    <p class="date-time">{{ schedule.time }}</p>
    <p>&ensp;-&ensp;</p>
    <p class="date-description">{{ schedule.description }}</p>
  </div>
  {% endfor %}
</div>
{% endmacro %}

{% macro contact_info_row(icon_src, icon_alt, links) %}
<div class="contact-info-row">
  <div class="contact-info-icon">
    <img src="{{ icon_src }}" alt="{{ icon_alt }}" />
  </div>
  <div class="links-container">
    {% for link in links %}
      <div class="link-row">
        <a href="{{ link.url }}" target="_blank">{{ link.text }}</a>
      </div>
    {% endfor %}
  </div>
</div>
{% endmacro %}

{% macro form_field(type, name, label, options=None, rows=3, required=false) %}
<div class="input-data {{ 'textarea' if type == 'textarea' else 'select-wrapper' if type == 'select' else '' }}">
  <label for="{{ name }}">{{ label }}</label>
  {% if type == 'textarea' %}
    <textarea id="{{ name }}" name="{{ name }}" rows="{{ rows }}" {{ 'required' if required }}></textarea>
  {% elif type == 'select' %}
    <div class="select-with-icon">
      <select id="{{ name }}" name="{{ name }}" class="select-dropdown" {{ 'required' if required }}>
        <option value="" disabled selected hidden></option>
        {% for value, text in options %}
          <option value="{{ value }}">{{ text }}</option>
        {% endfor %}
      </select>
      <img src="../../static/images/icons/arrow_down.svg" alt="Dropdown icon" class="select-icon"/>
    </div>
  {% else %}
    <input id="{{ name }}" type="{{ type }}" name="{{ name }}" {{ 'required' if required }} />
  {% endif %}
</div>
{% endmacro %}

{# navbar.html #}
{% macro navbar(static_color, links, button_text) %}
<nav class="navbar">
  <div class="navbar-logo">
    <a href="/"><img src="{{ url_for('static', filename='images/main_logo.png') }}" alt="" /></a>
  </div>
  <div class="hamburger-menu">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <ul class="navbar-links">
    {% for link in links %}
      <li><a href="{{ link.url }}">{{ link.text }}</a></li>
    {% endfor %}
    <!-- Language options added here -->
    <li class="navbar-lang">
      <div class="lang-btn">
        <img src="{{ url_for('static', filename='images/icons/internet.png') }}" alt="" />
      </div>
      <div class="lang-dropdown">
        <a href="/en">EN</a>
        <a href="/uz">UZ</a>
        <a href="/ru">RU</a>
      </div>
    </li>
    <!-- Register button with dynamic text -->
    <li><button class="register-btn open-popup">{{ button_text }}</button></li>
  </ul>
</nav>
<script>
document.addEventListener("DOMContentLoaded", function () {
  const hamburgerMenu = document.querySelector('.hamburger-menu');
  const navbarLinks = document.querySelector('.navbar-links');
  const navbarTop = document.querySelector('.navbar');

  hamburgerMenu.addEventListener('click', function () {
    this.classList.toggle('open');
    navbarLinks.classList.toggle('open');
    navbarTop.classList.toggle('open');

    if (navbarLinks.classList.contains('open')) {
      navbarLinks.style.display = 'block'; // Ensure it's visible before starting the transition
      setTimeout(() => {
        navbarLinks.style.opacity = 1; // Transition to fully opaque
      }, 10); // Short delay to ensure 'display: block' takes effect
    } else {
      navbarLinks.style.opacity = 0; // Transition to transparent
      navbarLinks.addEventListener('transitionend', function handler() {
        if (!navbarLinks.classList.contains('open')) {
          navbarLinks.style.display = 'none'; // Only set display none after opacity transition
          navbarLinks.removeEventListener('transitionend', handler);
        }
      });
    }
  });
});
</script>
{% endmacro %}




{% macro download_link(file_url, download_name, icon_url, display_text) %}
<a href="{{ file_url }}" download="{{ download_name }}" class="download-link">
  <div>
    <img src="{{ icon_url }}" alt="Download" class="main-icon"/>
    {{ display_text }}
  </div>
  <img src="../../static/images/icons/download.svg"/>
</a>
{% endmacro %}



{% macro registration_form() %}
{% endmacro %}